# Yeh sirf is license-api server ke apne hosting (Render/Vercel/VPS) par
# set hoga — kabhi kisi customer ki app mein nahi jayega.
LICENSE_DB_URI=mongodb+srv://YOUR_OWNER_ATLAS_CONNECTION_STRING
PORT=4002
